.border {
  border-image: 12px solid orange;
  padding: 10px;
  margin: 20px;
}

h1 {
  text-align: center;
}

body {
  background-color: darkgoldenrod;
  border: 4px solid brown;
  margin: 4px;
  padding: 10px;
}

.hobbies {
  font-family:monospace;
  font-weight: bolder;
}

.italics {
  font-style: italic;
}

.link_red {
  color:darkred;
}

img {
  outline: 3px solid darkred;
}